@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

:root {
    --primary: #fe2c55;
    --black: #000;
    --text-color: #333;
    --white: #fff;

    --font-family: 'ProximaNova', sans-serif;

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
    overflow-y: overlay;
}
// Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}
a {
    color: var(--text-color);
    text-decoration: none;
}
//Fonts embeded
@font-face {
    font-family: ProximaNova;
    src: url('../../access/Fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('../../access/Fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('../../access/Fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: SofiaPro;
    src: url('../../access/Fonts/sofiapro-bold.woff');
    font-weight: 700;
}

//Custom tippy tooltip styles
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
}
