.wrapper {
    min-height: 100vh;
    background-color: #f9fafb;
}

.container {
    display: flex;
    max-width: var(--default-layout-width);
    margin: 0 auto;
}

.content {
    flex: 1;
    padding: 32px;
    min-height: calc(100vh - var(--default-layout-header-height));

    @media (max-width: 768px) {
        padding: 16px;
    }
}